@namespace web_test_blazer_server.Shared._Core



<Field>
    <FieldLabel>singleLineText</FieldLabel>
    <TextEdit Placeholder="text" />
</Field>


<Field>
    <FieldLabel>allow edit</FieldLabel>
    <Check TValue="bool" Checked="@rememberMe" CheckedChanged="@OnRememberMeChanged">Remember Me</Check>

    @code{
        bool rememberMe;

        void OnRememberMeChanged(bool value)
        {
            rememberMe = value;
        }
    }
</Field>


<Field>
    <FieldLabel>color</FieldLabel>


    <ColorPicker @bind-Color="@colorValue" ShowHueSlider />

    @code {
        string colorValue = "#ff00ff";
    }


</Field>



<Field>
    <FieldLabel>date</FieldLabel>
    <DatePicker TValue="DateTime?" @bind-Dates="selectedDates" InputMode="DateInputMode.Date" SelectionMode="DateInputSelectionMode.Range" />

    @code {
        IReadOnlyList<DateTime?>? selectedDates;
    }
</Field>


<Field>
    <FieldLabel>figure</FieldLabel>
    <Figure Size="FigureSize.Is256x256">
        <FigureImage Source="img/empty-256x256.png" AlternateText="empty-256x256" Rounded />
        <FigureCaption>A caption for the above image.</FigureCaption>
    </Figure>
</Field>




<Field>
    <FieldLabel>long text</FieldLabel>
    <MemoEdit Rows="5" />
</Field>

<Field>
    <FieldLabel>numeric</FieldLabel>


    <NumericEdit TValue="decimal?" @bind-Value="@value" />

    @code {
        decimal? value = 123;
    }


</Field>

<Field>
    <FieldLabel>numeric basic</FieldLabel>
    <NumericPicker Value="123" />
</Field>

<Field>
    <FieldLabel>numeric decimal</FieldLabel>
    <NumericPicker TValue="decimal?" />
</Field>

<Field>
    <FieldLabel>numeric currency</FieldLabel>
    <NumericPicker TValue="decimal?" CurrencySymbol="$" Value="456" />
</Field>

<Field>
    <FieldLabel>numeric steps</FieldLabel>


    <NumericPicker @bind-Value="@value2" Step="10" />

    @code{
        decimal value2;
    }


</Field>

<Field>
    <FieldLabel>numeric min max</FieldLabel>


    <NumericPicker @bind-Value="@value3" Min="10" Max="20" />

    @code{
        decimal value3 = 15;
    }


</Field>

<Field>
    <FieldLabel>numeric int</FieldLabel>


    <NumericPicker @bind-Value="@value4" />

    @code{
        int value4;
    }


</Field>

<Field>
    <FieldLabel>numeric mousewheel</FieldLabel>


    <NumericPicker @bind-Value="@value5" ModifyValueOnWheel WheelOn="NumericWheelOn.Hover" />

    @code {
        decimal value5;
    }


</Field>

<Field>
    <FieldLabel>radio group</FieldLabel>
    <RadioGroup TValue="string" Name="colors">
        <Radio Value="@("red")">Red</Radio>
        <Radio Value="@("green")">Green</Radio>
        <Radio Value="@("blue")">Blue</Radio>
    </RadioGroup>
</Field>


<Field>
    <FieldLabel>radio standalone</FieldLabel>
    <Radio TValue="string" Group="colors" Value="@("red")">Red</Radio>
    <Radio TValue="string" Group="colors" Value="@("green")">Green</Radio>
    <Radio TValue="string" Group="colors" Value="@("blue")">Blue</Radio>
</Field>


<Field>
    <FieldLabel>radio group buttons</FieldLabel>
    <RadioGroup TValue="string" Name="colors" Buttons>
        <Radio Value="@("red")">Red</Radio>
        <Radio Value="@("green")">Green</Radio>
        <Radio Value="@("blue")">Blue</Radio>
    </RadioGroup>
</Field>

<Field>
    <FieldLabel>radio group binding</FieldLabel>


    <RadioGroup TValue="string"
                Name="colors"
                CheckedValue="@checkedValue"
                CheckedValueChanged="@OnCheckedValueChanged">
        <Radio Value="@("red")">Red</Radio>
        <Radio Value="@("green")">Green</Radio>
        <Radio Value="@("blue")">Blue</Radio>
    </RadioGroup>

    @code{
        string checkedValue = "green";

        Task OnCheckedValueChanged(string value)
        {
            checkedValue = value;

            return Task.CompletedTask;
        }
    }


</Field>

<Field>
    <FieldLabel>rating</FieldLabel>

    <Rating Color="Color.Primary" @bind-SelectedValue="@SelectedValue" MaxValue="10" GetTooltip="@GetTooltip" />

    @code {
        int SelectedValue = 7;

        RatingTooltip GetTooltip(int value)
        {
            if (value <= 2)
                return new RatingTooltip("Very bad");
            else if (value <= 4)
                return new RatingTooltip("Bad", TooltipPlacement.Bottom);
            else if (value <= 6)
                return new RatingTooltip("Fair");
            else if (value <= 8)
                return new RatingTooltip("Good", TooltipPlacement.Top, false, false);
            else if (value <= 10)
                return new RatingTooltip("Very good");

            return null;
        }
    }


</Field>

<Field>
    <FieldLabel>select</FieldLabel>


    <Select TValue="int" SelectedValue="@selectedValue" SelectedValueChanged="@OnSelectedValueChanged">
        <SelectItem Value="1">One</SelectItem>
        <SelectItem Value="2">Two</SelectItem>
        <SelectItem Value="3">Three</SelectItem>
        <SelectItem Value="4">Four</SelectItem>
    </Select>

    @code{
        int selectedValue;

        Task OnSelectedValueChanged(int value)
        {
            selectedValue = value;

            return Task.CompletedTask;
        }
    }


</Field>

<Field>
    <FieldLabel>select groups</FieldLabel>
    <Select TValue="int">
        <SelectGroup Label="Group 1">
            <SelectItem Value="1">One</SelectItem>
            <SelectItem Value="2">Two</SelectItem>
        </SelectGroup>
        <SelectGroup Label="Group 2">
            <SelectItem Value="3">Three</SelectItem>
            <SelectItem Value="4">Four</SelectItem>
        </SelectGroup>
    </Select>
</Field>

<Field>
    <FieldLabel>select multiple</FieldLabel>
    <Select TValue="int" Multiple>
        <SelectItem Value="1">One</SelectItem>
        <SelectItem Value="2">Two</SelectItem>
        <SelectItem Value="3">Three</SelectItem>
        <SelectItem Value="4">Four</SelectItem>
    </Select>
</Field>

<Field>
    <FieldLabel>slider decimal - value: @valueB</FieldLabel>
    <Slider @bind-Value="@valueB" Step="0.50" TValue="double" Max="100" />

    @code {
        double valueB = 60.30;
    }
</Field>

<Field>
    <FieldLabel>switch</FieldLabel>


    <Switch TValue="bool" Checked="@rememberMea" CheckedChanged="@OnRememberMeChangeda">Remember Me</Switch>

    @code{
        bool rememberMea;

        Task OnRememberMeChangeda(bool value)
        {
            rememberMea = value;

            return Task.CompletedTask;
        }
    }


</Field>


<Field>
    <FieldLabel>numeric</FieldLabel>


    <Addons>
        <Addon AddonType="AddonType.Body">
            <TimePicker @ref="@timePickertt" TValue="TimeSpan?" @bind-Time="@valuett" />
        </Addon>
        <Addon AddonType="AddonType.End">
            <Button Color="Color.Light" Clicked="@(()=>timePickertt.ToggleAsync())">
                <Icon Name="IconName.CalendarDay" />
            </Button>
        </Addon>
    </Addons>

    @code{
        TimePicker<TimeSpan?> timePickertt = new();

        TimeSpan? valuett;
    }


</Field>
<Field>
    <FieldLabel>numeric</FieldLabel>
</Field>