@namespace web_test_blazer_server.Shared._Core


<Button Name="@ButtonName" Clicked="@TabClicked" Background="@BackgroundColor">
    <Tooltip Text="@Tooltip">
        <Icon Name="@IconsName" TextColor="@IconColor" />
        @if (ShowLabel)
        {
            @Label
        }
    </Tooltip>
</Button>
